<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @contact.contact_name %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>Phone no:</b>
  <%= @contact.phone_no %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
